<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.arsalan.garage"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.STORAGE"/>

    <application
        android:name=".GarageApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoPreviewWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity1"
            android:label="@string/garage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activities.CategorySaleListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.CategoryDescriptionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.HelpOnRoadActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ScrapMainMenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ForSaleMenuActivity"
            android:label="@string/title_activity_scrap"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.KhidmatShamlaActivity"
            android:label="@string/title_activity_scrap"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ScrapSubMenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ImageViewerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.AlwakalatAgencyMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.AlwakalatAgencySubMenu1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.CategorySaleStaticListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.KarajatMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.KarajatSubMenu1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.AlwakalatAgencyDescriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.AlwakalatAgencySubMenu2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.CameraGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name=".activities.FullImageActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.ForSaleSubMenuActivity"
            android:label="@string/title_activity_buy_and_sale_sub_menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.ForSaleListActivity"
            android:label="@string/title_activity_buy_and_sale_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.ForSaleDetailsActivity"
            android:label="@string/title_activity_buy_and_sale_description"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.AlwakalatCarServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.AlwakalatSparePartsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.MarineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.AlwakalatServiceCentersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.MarineUserActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.MarineUserDescriptionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.MarineUserListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ScrapUserMenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.AccessoriesUserListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.AccessoriesUserDetailsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.AccessoriesMenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ScrapUserListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ScrapUserDetailsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <provider
            android:name=".utils.ImageFileProvider"
            android:authorities="com.arsalan.garage"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".activities.EditPostActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.CarWashListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.CarWashDetailsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.MarineBoatFishingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.MarineBoatFishingDetailsActivity"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".PushMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".PushInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".activities.KuwaitRescueActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".activities.LanguageChooserActivity">
        </activity>
    </application>

</manifest>